<div class = "adjust">
<div class = "center hero-unit">
  <h1> WELCOME TO SULIT AT AYOS </h1>
  <p>
  Floods in Indonesia's capital Jakarta have left at least 11 people dead, 
  authorities said on Friday as murky brown waters submerged parts of the city's 
  business district, causing chaos for a second day.
  </p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-info"%>
</div>
</div>
