<%= render 'upper'%>
      <ul class = "dropdown-menu">
        <li><%= render 'follow_form' if signed_in? %></li>
      </ul>
    </div>
  </div>
  <div class = "user_prod_list">
    <h3>MY SHOP</h3>
    <%= render 'products/product_list' %>
  </div>
</div>


